/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

header {
    width: 800px;
    margin: 0 auto;
}

.nav-bar  {
    width: 800px;
    height: 80px;
    top: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: baseline;
    padding: 20px 50px 10px 0px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    font-weight: 700;
}

.container {
    width: 800px;
    margin: 100px auto 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.middle-content .boxes .box:hover {
    animation-name: spin;
    animation-iteration-count: 1;
    animation-duration: 2s;
}    

.middle-content .boxes .box:nth-child(1) {
    background: teal;
}  

.middle-content .box:nth-child(2) {
    background: gold;
}  

.middle-content .box:nth-child(3) {
    background: cadetblue;
}  

.middle-content .box:nth-child(4) {
    background: coral;
}  

.middle-content .box:nth-child(5) {
    background: crimson;
}  

.middle-content .box:nth-child(6) {
    background: forestgreen;
}  

.middle-content .box:nth-child(7) {
    background: darkorchid;
}  

.middle-content .box:nth-child(8) {
    background: hotpink;
}  

.middle-content .box:nth-child(9) {
    background: indigo;
}  

.middle-content .box:nth-child(10) {
    background: dodgerblue;
}  

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

footer nav a:hover {
    text-decoration: underline;
}

.about-top {
    margin: 15px 10px 15px 10px;
}

hr {
    border: 0.5px dashed black;
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content .about-content-tile {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
    width: 47%;
    margin: 10px 10px 35px 10px;
    padding-bottom: 5px;
}

.header-banner {
    margin: 10px 0 15px 0;
}

.about-content .about-content-tile img {
    margin-bottom: 10px;
}

.about-content .about-content-tile button {
    display: block;
    background: white;
    border: 1.5px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    width: 130px;
    height: 38px;
    margin: 15px 0;
}

.about-content .about-content-tile button:focus {
    outline: 0;
}

.about-content .about-content-tile button:active {
    transform: translateY(4px);
}

.about-bottom {
    margin: 10px 10px 30px 10px;
}

.products-top {
    margin: 15px 10px 15px 10px;
}

.products-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-content .products-content-tile {
    width: 350px;
    margin: 0 2px;
}

.products-content-tile img{
    position: relative;
    z-index: -2;
}

.products-content-tile .overlay {
    background: black;
    position: absolute;
    width: 350px;
    height: 350px;
    opacity: 0;  
    z-index: -1;
    text-align: center;
    color: white;
    padding: 120px 30px;
}

.products-content-tile:hover .overlay{
    opacity: 0.8;
}

.products-bottom {
    margin: 20px 10px 20px 10px;
}

.credit {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
}

@media only screen and (max-width: 450px) {
    .top-content {
        flex-direction: column;
    }
    
    .about-page .about-content {
        flex-direction: column;
    }
    
  }

